@import "../../Variables.scss";

.magic {
  padding-top: 360px;
  height: 640px;
  background-image: linear-gradient(
      180deg,
      rgba(162, 89, 255, 0) 0%,
      #a259ff 100%
    ),
    url("../../assets/img/timer__bg.png");
  background-size: cover;
  background-position-y: center;
  &__content {
    width: 755px;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 1050px;
    margin: 0 auto;
  }
  &__user {
    width: 151px;
    height: 44px;
    background: $BgSecondary;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    img {
      margin-right: 12px;
      width: 24px;
      height: 24px;
    }
  }
  &__title {
    color: #fff;
    font-size: 51px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 56.1px */
    text-transform: capitalize;
    margin: 30px 0;
  }
  &__btn {
    width: 198px;
    height: 60px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2b2b2b;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 22.4px */
    img {
      margin-right: 12px;
    }
  }
  &__timer {
    width: 295px;
    height: 144px;
    border-radius: 20px;
    background: rgba(59, 59, 59, 0.5);
    backdrop-filter: blur(5px);
    padding: 30px;
    &-title {
      color: #fff;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 110%; /* 13.2px */
      display: flex;
      justify-content: space-between;
    }
    &-time {
      padding-right: 8px;
      color: #fff;
      font-size: 38px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%; /* 45.6px */
      text-transform: capitalize;
      display: flex;
      justify-content: space-between;
    }
  }
}
