* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Work Sans;
}

button {
  cursor: pointer;
  border: none;
}

input {
  border: none;
}

.descr {
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 35.2px */
  text-transform: capitalize;
}
.title {
  color: #fff;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 45.6px */
  text-transform: capitalize;
}
